* {
  font-family: 'Roboto Condensed', sans-serif;
}

@media (max-width: 912px) {
  html, body {
    font-size: 14px;
  }
}

body {
  padding: 0;
  margin: 0;
}

header {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > .logo {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > .logo > img {
  width: auto;
  height: 100%;
  margin-right: 10px;
}

header > .logo > span {
  color: #26a1e4;
  font-size: 2rem;
}

header > .logo > span:last-child {
  color: #ff5185;
  margin-left: 7px;
}

header > nav > a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  margin-left: 1rem;
  font-size: .9rem;
}

header > nav > a:hover {
  color: #26a1e4;
}

@media (max-width: 768px) {
  header > nav > a {
    color: white;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  header > nav {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5rem;
    position: absolute;
    right: calc(2rem + 2px);
    top: calc(50% - 12px);
    z-index: 2;
  }
}

header > div.menu_mobile, header > div.menu_mobile_v2 {
  display: none;
}

@media (max-width: 768px) {
  header > div.menu_mobile, header > div.menu_mobile_v2 {
    display: block;
    z-index: 3;
  }
}

header > div.menu_mobile > span {
  display: block;
  width: 30px;
  border-radius: 5px;
  background-color: black;
  height: 4px;
}

header > div.menu_mobile > span:not(:last-child) {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  header > div.menu_mobile.open {
    height: 30px;
    padding-top: 30px;
  }
}

header > div.menu_mobile_v2:after, header > div.menu_mobile_v2:before {
  content: '';
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  display: block;
  width: 30px;
  border-radius: 5px;
  background-color: black;
  height: 4px;
}

header > div.menu_mobile_v2:before {
  margin-bottom: 5px;
}

header > div.menu_mobile_v2 > div {
  height: 4px;
  -webkit-transition: height .1s;
  transition: height .1s;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
  display: block;
  width: 30px;
  border-radius: 5px;
  background-color: black;
  margin-bottom: 5px;
}

header > div.menu_mobile_v2.visible > div {
  height: 0;
  margin: 0;
  -webkit-transition: display .3s;
  transition: display .3s;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

header > div.menu_mobile_v2.visible:before, header > div.menu_mobile_v2.visible:after {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

header > div.menu_mobile_v2.visible:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
}

header > div.menu_mobile_v2.visible:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: -4px 0 0;
}

@media (max-width: 1200px) {
  header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 768px) {
  header {
    position: relative;
  }
}

main {
  overflow: hidden;
  position: relative;
}

main section.slider {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: initial;
  overflow: hidden;
  width: 400%;
}

main section.slider > div.slider_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}

main section.slider > div.slider_wrap > div.slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main section.slider > div.slider_wrap > div.slide > div.shadow {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

main section.slider > div.slider_wrap > div.slide > img {
  width: 100%;
  height: auto;
}

main section.slider > div.slider_wrap > div.slide > div.text {
  position: absolute;
  color: white;
  text-align: center;
  z-index: 1;
}

main section.slider > div.slider_wrap > div.slide > div.text > h2 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0;
}

main section.slider > div.slider_wrap > div.slide > div.text > h3 {
  font-weight: normal;
  font-size: 1.4rem;
  margin: 0;
}

main section.slider > div.slider_wrap > div.slide > div.text > button {
  border: 1px solid white;
  color: white;
  background: none;
  border-radius: 0;
  margin-top: 3rem;
  padding: 10px 40px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

main section.slider > div.text {
  position: absolute;
  color: white;
  text-align: center;
}

main section.slider > div.text > h2 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0;
}

main section.slider > div.text > h3 {
  font-weight: normal;
  font-size: 1.4rem;
  margin: 0;
}

main section.slider > div.text > button {
  border: 1px solid white;
  color: white;
  background: none;
  border-radius: 0;
  margin-top: 3rem;
  padding: 10px 40px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

@-webkit-keyframes arrow {
  10% {
    width: calc(12.5px * 1.9);
    height: calc(12.5px * 1.9);
  }
  20% {
    width: calc(12.5px * 1.8);
    height: calc(12.5px * 1.8);
  }
  30% {
    width: calc(12.5px * 1.7);
    height: calc(12.5px * 1.7);
  }
  40% {
    width: calc(12.5px * 1.6);
    height: calc(12.5px * 1.6);
  }
  50% {
    width: calc(12.5px * 1.5);
    height: calc(12.5px * 1.5);
  }
  60% {
    width: calc(12.5px * 1.4);
    height: calc(12.5px * 1.4);
  }
  70% {
    width: calc(12.5px * 1.3);
    height: calc(12.5px * 1.3);
  }
  80% {
    width: calc(12.5px * 1.2);
    height: calc(12.5px * 1.2);
  }
  90% {
    width: calc(12.5px * 1.1);
    height: calc(12.5px * 1.1);
  }
  100% {
    width: calc(12.5px * 1);
    height: calc(12.5px * 1);
  }
}

@keyframes arrow {
  10% {
    width: calc(12.5px * 1.9);
    height: calc(12.5px * 1.9);
  }
  20% {
    width: calc(12.5px * 1.8);
    height: calc(12.5px * 1.8);
  }
  30% {
    width: calc(12.5px * 1.7);
    height: calc(12.5px * 1.7);
  }
  40% {
    width: calc(12.5px * 1.6);
    height: calc(12.5px * 1.6);
  }
  50% {
    width: calc(12.5px * 1.5);
    height: calc(12.5px * 1.5);
  }
  60% {
    width: calc(12.5px * 1.4);
    height: calc(12.5px * 1.4);
  }
  70% {
    width: calc(12.5px * 1.3);
    height: calc(12.5px * 1.3);
  }
  80% {
    width: calc(12.5px * 1.2);
    height: calc(12.5px * 1.2);
  }
  90% {
    width: calc(12.5px * 1.1);
    height: calc(12.5px * 1.1);
  }
  100% {
    width: calc(12.5px * 1);
    height: calc(12.5px * 1);
  }
}

main section.slider > div.arrow {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section.slider > div.arrow:hover {
  cursor: pointer;
  background: #353535;
}

main section.slider > div.arrow:after {
  content: '';
  border-width: 3px 3px 0 0;
  border-style: solid;
  border-color: white;
  width: 12.5px;
  height: 12.5px;
  position: absolute;
  -webkit-animation: arrow 1s infinite;
          animation: arrow 1s infinite;
}

main section.slider > div.arrow.left {
  left: 25px;
}

main section.slider > div.arrow.left:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-left: 4px;
}

main section.slider > div.arrow.right {
  right: 25px;
}

main section.slider > div.arrow.right:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: -4px;
}

main section.info {
  position: relative;
  width: 100%;
  background-color: #f8f8f8;
  padding: 2rem 0;
}

main section.info > div.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section.info > div.wrapper > article {
  width: calc(100% / 3);
  padding: 15px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main section.info > div.wrapper > article > img {
  width: 80px;
  height: 80px;
}

main section.info > div.wrapper > article > h4 {
  margin: 10px 0;
  color: #26a1e4;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: normal;
}

main section.info > div.wrapper > article > span {
  font-size: .95rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 912px) {
  main section.info > div.wrapper > article {
    width: 50%;
  }
}

main section.call {
  position: relative;
  width: 100%;
  background-color: #26a1e4;
  padding: 1.5rem 0;
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
}

main section.call > div.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.call > div.wrapper > button {
  font-size: inherit;
  background: none;
  border: 2px solid white;
  border-radius: 0;
  color: inherit;
  padding: 10px 30px;
  text-transform: inherit;
}

main section.portfolio {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: block;
  margin: 2rem auto;
}

main section.portfolio > h3 {
  text-transform: uppercase;
  color: #26a1e4;
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0;
}

main section.portfolio > h3:after {
  content: '';
  width: 70px;
  height: 2px;
  background-color: #ff5185;
  display: block;
  margin-top: 10px;
}

main section.portfolio > div {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section.portfolio > div > img {
  border: 2px solid #ff5185;
  border-radius: 2px;
  width: 30%;
  height: auto;
}

main section.stat {
  position: relative;
  width: 100%;
  background-color: #26a1e4;
  padding: 2rem 0;
}

main section.stat > div.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section.stat > div.wrapper > article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.stat > div.wrapper > article > span {
  color: white;
  text-transform: uppercase;
}

main section.stat > div.wrapper > article > span:first-child {
  font-size: 1.6rem;
  font-weight: bold;
}

main section.stat > div.wrapper > article > span:first-child:after {
  content: '';
  width: 30px;
  height: 2px;
  background-color: white;
  display: block;
  margin: .6rem auto;
}

main section.stat > div.wrapper > article > span:last-child {
  font-size: 1.1rem;
}

main section.news {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: block;
  margin: 2rem auto;
}

main section.news > h3 {
  text-transform: uppercase;
  color: #26a1e4;
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0;
}

main section.news > h3:after {
  content: '';
  width: 70px;
  height: 2px;
  background-color: #ff5185;
  display: block;
  margin-top: 10px;
}

main section.news > div {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section.news > div > article {
  background-color: #f8f8f8;
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 456px;
}

main section.news > div > article > img {
  width: 40%;
  height: auto;
}

main section.news > div > article > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 1.5rem 2rem;
}

main section.news > div > article > div > span {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5;
}

main section.news > div > article > div > span:first-child {
  font-style: italic;
}

main section.news > div > article > div > a {
  margin: auto 0 0 auto;
  text-decoration: none;
  color: #26a1e4;
}

@media (max-width: 912px) {
  main section.news > div > article {
    width: 100%;
    margin-bottom: 1rem;
  }
}

main section.form {
  position: relative;
  width: 100%;
  background-color: #f8f8f8;
  padding: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main section.form > form {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: block;
}

main section.form > form > h3 {
  text-transform: uppercase;
  color: #26a1e4;
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0;
  margin-bottom: 1rem;
}

main section.form > form > h3:after {
  content: '';
  width: 70px;
  height: 2px;
  background-color: #ff5185;
  display: block;
  margin-top: 10px;
}

main section.form > form > div.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section.form > form > div.row > div.col {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section.form > form > div.row > div.col > input, main section.form > form > div.row > div.col > textarea {
  border: 3px solid #26a1e4;
  font-size: 1.1rem;
  padding: 5px;
}

main section.form > form > div.row > div.col > input {
  margin-bottom: 10px;
}

main section.form > form > div.row > div.col > textarea {
  height: calc(100% - 10px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
  min-height: 3rem;
}

@media (max-width: 771px) {
  main section.form > form > div.row > div.col > textarea {
    margin-bottom: 10px;
    height: 100px;
  }
}

main section.form > form > div.row > div.col > button {
  border: none;
  background-color: #26a1e4;
  padding: 8px 0;
  color: white;
  font-size: 1.1rem;
  text-transform: lowercase;
}

@media (max-width: 771px) {
  main section.form > form > div.row > div.col {
    width: 100%;
  }
}

@media (max-width: 771px) {
  main section.form > form > div.row > div {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1200px) {
  main:not(.slider) {
    padding-left: 2rem;
    padding-right: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

footer section {
  position: relative;
  width: 100%;
  background-color: #161616;
  padding: 2rem 0;
}

footer section > div.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer section > div.wrapper > article {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer section > div.wrapper > article > h3 {
  color: #26a1e4;
  text-transform: uppercase;
  font-size: 1.1rem;
}

footer section > div.wrapper > article > span {
  color: white;
  font-size: .9rem;
  line-height: 1.5;
}

footer section > div.wrapper > article > span > img {
  width: 15px;
  height: auto;
}

footer section > div.wrapper > article > span > address {
  display: inline;
  font-style: normal;
}

footer section > div.wrapper > article > span > a {
  text-decoration: none;
  color: inherit;
}

footer > div {
  background-color: black;
  color: white;
  padding: 2rem 0;
  text-align: center;
  font-size: .9rem;
}

div.feedbacks {
  max-width: 1200px;
  margin: 2rem auto;
}

div.feedbacks > form > table {
  border-collapse: collapse;
  width: 100%;
}

div.feedbacks > form > table th, div.feedbacks > form > table td {
  border: 1px solid black;
  text-align: center;
}

div.feedbacks > form > table th {
  font-size: 1.3rem;
}

div.feedbacks > form > table td > input[type=checkbox] {
  display: none;
}

div.feedbacks > form > table td > label {
  display: block;
  padding: 10px 0;
}

div.feedbacks > form > table td > label > input {
  border: none;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
}

div.feedbacks > form > table td > label > input:focus {
  outline: none;
}

div.feedbacks > form > table tr.checked {
  background-color: #fde269;
}

div.feedbacks > form > input {
  margin-top: 1rem;
}
/*# sourceMappingURL=style_n.css.map */