/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

div {
    color: red;
    /* red or rgb(255, 0, 0) or #ff0000 or rgba(255, 0, 0, 0.1) */
    font-size: 2em;
    /* pt – пунткты, но отображается на всех устройствах по разному
    px – универсален
    em – основывается на размере шрифта родителя (у div родитель это body)
    rem – размерность относительно html (16px), лучше использовать, не придется настраивать под разные размеры экранов */
    font-family: cursive;
    /* serif – с засечками, sans-serif – без засечек, monospace – символы с одниковой шириной, cursive – шрифты с завитушками) */
    font-weight: 900;
    /* либо словами, либо значениями от 100 до 900 */
    font-style: italic;
    margin-bottom: 2rem;
}

body {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: pink;
    border: 1px solid pink;
    /* можно разделить на три строки: border-width (четеры параметра может быть, как у padding и margin), border-style, border-color */
    border-radius: 3px;
    /* можно использовать %, только если нам известен размер элемента, иначе браузер не будет понимать от чего брать % */
    padding: 5px;
    /* одно значение – оступ сразу со всех сторон,
    два значения – первое это верх/низ, а второе право/лево,
    три значения – первое это верх, второе это право/лево,
    третье это низ, четыре значения – (все идет по часовой стрелке) верх право низ лево */
    /* также можно использовать padding-right, ...-left, ...-top, ...-bottom */
    margin-right: 1rem;
    /* outline: (параметры как у border, если вместе с border, то получается обводка поверх border) используется для того, чтобы выделить активный элемент страницы */
}